In [20]:
import pandas as pd 
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [22]:
data = [
    ['milk', 'onion', 'nutmeg', 'kidney beans', 'eggs', 'yogurt'],
    ['chips', 'bananas', 'nutmeg', 'eggs', 'curd', 'red bull'],
    ['pani puri', 'chips', 'maggie', 'eggs', 'peanuts', 'onion'],
    ['chicken', 'fish', 'bread', 'banana'],
    ['chicken', 'milk', 'yogurt', 'bread', 'chips'],
    ['rice', 'apple', 'chips']
]

# Step 1: Transform data using TransactionEncoder

In [34]:
te = TransactionEncoder()
te_ary  = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns = te.columns_)

In [35]:
df.head()

,apple,banana,bananas,bread,chicken,chips,curd,eggs,fish,kidney beans,maggie,milk,nutmeg,onion,pani puri,peanuts,red bull,rice,yogurt
0,False,False,False,False,False,False,False,True,False,True,False,True,True,True,False,False,False,False,True
1,False,False,True,False,False,True,True,True,False,False,False,False,True,False,False,False,True,False,False
2,False,False,False,False,False,True,False,True,False,False,True,False,False,True,True,True,False,False,False
3,False,True,False,True,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,True,True,False,False,False,False,False,True,False,False,False,False,False,False,True

# Step 2: Apply Apriori Algorithm

In [36]:
frequent_patterns = apriori(df, min_support = 0.3, use_colnames = True)

# Step 3: Generate Association Rules

In [40]:
rules = association_rules(frequent_patterns)

In [41]:
print("Frequent Itemsets:\n", frequent_itemsets)
print("\nAssociation Rules:\n", rules)

Frequent Itemsets:
      support          itemsets
0   0.333333           (bread)
1   0.333333         (chicken)
2   0.666667           (chips)
3   0.500000            (eggs)
4   0.333333            (milk)
5   0.333333          (nutmeg)
6   0.333333           (onion)
7   0.333333          (yogurt)
8   0.333333  (bread, chicken)
9   0.333333     (eggs, chips)
10  0.333333    (nutmeg, eggs)
11  0.333333     (eggs, onion)
12  0.333333    (milk, yogurt)

Association Rules:
   antecedents consequents  antecedent support  consequent support   support  \
0     (bread)   (chicken)            0.333333            0.333333  0.333333
1   (chicken)     (bread)            0.333333            0.333333  0.333333
2    (nutmeg)      (eggs)            0.333333            0.500000  0.333333
3     (onion)      (eggs)            0.333333            0.500000  0.333333
4      (milk)    (yogurt)            0.333333            0.333333  0.333333
5    (yogurt)      (milk)            0.333333            0.333333  0.333333

   confidence  lift  representativity  leverage  conviction  zhangs_metric  \
0         1.0   3.0               1.0  0.222222         inf           1.00
1         1.0   3.0               1.0  0.222222         inf           1.00
2         1.0   2.0               1.0  0.166667         inf           0.75
3         1.0   2.0               1.0  0.166667         inf           0.75
4         1.0   3.0               1.0  0.222222         inf           1.00
5         1.0   3.0               1.0  0.222222         inf           1.00

    jaccard  certainty  kulczynski
0  1.000000        1.0    1.000000
1  1.000000        1.0    1.000000
2  0.666667        1.0    0.833333
3  0.666667        1.0    0.833333
4  1.000000        1.0    1.000000
5  1.000000        1.0    1.000000